@import "tailwindcss";

:root {
  --background: #0A0B0D;
  --foreground: #FFFFFF;
  --base-blue: #0052FF;
  --base-gray: #8A919E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-base-blue: var(--base-blue);
  --color-base-gray: var(--base-gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
